body{
  background-color: aquamarine;
}
header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(30, 28, 28, 0.3);
}
.container-main{
  background-color: #fff;
  max-width: 600px;
  border-radius: 10px;
  margin: 30px;
  padding: 5px;
}
.current-weather{
  display: flex;
  justify-content: space-between;
}
.container-forecast{
  background-color: #fff;
    
    margin: 30px;
    padding: 5px;
  }

.container-foot {
  background-color: #fff;
    max-width: 600px;
    border-radius: 10px;
    margin: 30px;
    padding: 5px;
  
}